# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vscode/
*.vs/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Others
*.log
.DS_Store
*.swp
